.container {
    background-color: #f5f5d5;
}
.blog-title {
    text-align: center;
    background: url("../images/title.png") no-repeat;
}
.blog-name {
    position: relative;
}
.blog-article-list {
    border: 1px solid #ccc;;
}